:root{

/* COPIAR E COLAR essas variáveis em todos os css */

    /* pages */
    --primary-color: #16425E;
    --secundary-color: #3F8798;
    --third-color: #b6d9CC;

    --dark-color: #333334;
    --light-color: #F8FCEB;
    --green-light-color: #6c9d41;
    --green-dark-color: #3A6B2F;

    --color-button-light: #fff;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: "Poppins", sans-serif;
}